@import "../../../sass/mixins/mixins-master";
@import "../../../sass/variables-site/colors";

$height_li: 100px;

.wrap-basket {
  margin-bottom: 2rem;

  span.material-icons {
    margin-right: 0.5rem;
    position: relative;
    top: 4px;
  }
}

.cart-list ul,
.cart-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.cart-list {
  margin-bottom: 35px;

  > li {
    height: $height_li;
    margin: 10px 0;
    border: 1px solid $color__border-product;

    &:hover {
      box-shadow: 0 0 5px $color__border-product_hover;
    }

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  .wrap-img {
    position: relative;
    width: 150px;
    height: 100%;
    display: inline-block;
    max-height: $height_li;
    vertical-align: middle;

    @include media-breakpoint-down(sm) {
      display: block;
      width: auto;
      margin: 0 auto;
      text-align: center;
      padding-top: 10px;
    }
  }

  img {
    max-height: $height_li - 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      position: static;
      transform: none;
    }
  }

  figure {
    height: 100%;
    margin: 0;
  }

  figcaption {
    display: inline-block;
    vertical-align: middle;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    ul {

      > li {
        display: inline-block;
        margin-right: 25px;

        @include media-breakpoint-down(sm) {
          display: block;
          text-align: center;
          margin: 5px 0 !important;
          width: auto !important;
        }

        &:first-child {
          margin-left: 15px;
          width: 100px;
          text-align: center;
        }

        &:nth-child(2) {
          width: 100px;
          position: relative;

          input[type=number] {
            width: calc(100% - 34px);
            text-align: right;
            -webkit-appearance: none;
            margin: 0;

            @include media-breakpoint-down(sm) {
              width: calc(50% - 34px);
            }

            @include media-breakpoint-down(xs) {
              width: calc(100% - 64px);
            }

          }

          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          span {
            position: absolute;
            right: 0;
            cursor: pointer;
            transition: opacity, color 200ms linear;

            @include media-breakpoint-down(sm) {
              right: calc(25% - 34px);
            }

            @include media-breakpoint-down(xs) {
              right: 0;
            }

            &:nth-child(2) {
              top: -8px;
            }

            &:last-child {
              bottom: -8px;
            }

            &:hover {
              opacity: 0.6;
            }

          }

        }

        &:last-child {
          margin-right: 0;
        }

      }
    }
  }
}

h3.sum{
  padding-left: 400px;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    text-align: center;
  }
}
