<div class="wrap-basket">
  <h3><span class="material-icons">shopping_basket</span>Koszyk</h3>
  <button type="button"
          (click)="expanded = !expanded"
          class="button success large text--bold js-btn-expand">
    {{expanded ? 'Ukryj koszyk' : 'Rozwiń koszyk'}}
  </button>
</div>

<div *ngIf="expanded" [@enterAnimation]>
  <h4 *ngIf="!cartItems || cartItems.length === 0">Twój koszyk jest pusty</h4>
  <ul *ngIf="cartItems && cartItems.length > 0" class="cart-list">
    <li *ngFor="let item of cartItems">
      <figure>
        <div class="wrap-img">
          <img src="./assets/{{item.product.id}}.jpg" class="product_image"/>
        </div>
        <figcaption>
          <ul>
            <li>
              <span class="text--bold">{{item.product.name}}</span>
            </li>
            <li>
              <input type="number" min="0" step="1" name="quantity" [ngModel]="item.quantity"
                     (ngModelChange)="quantityChange(item,  $event)"
                     [ngModelOptions]="{updateOn: 'blur'}"/>
              <span class="material-icons js-add" (click)="onAdd(item)">add</span>
              <span class="material-icons js-remove" (click)="onRemove(item)">remove</span>
            </li>
            <li>
              <span class="text--bold text--red">{{item.totalCost | currency:'PLN' }}</span>
            </li>
          </ul>
        </figcaption>
      </figure>
    </li>
  </ul>
  <h3 *ngIf="cartItems && cartItems.length > 0" class="sum js-cart-total">
    Suma: {{total | currency:'PLN' }}
  </h3>
</div>
