<div>
  <app-shopping-cart></app-shopping-cart>
</div>
<div>
  <h3><span class="material-icons">grid_on</span>Produkty</h3>
  <select [ngModel]="sortValue" class="js-sort" (ngModelChange)="onSort($event)">
    <option [selected]="sortValue == s.value" *ngFor="let s of sorts" [ngValue]="s.value">{{s.text}}</option>
  </select>
  <ul class="product-list">
    <li class="js-li" [@enterAnimation] *ngFor="let product of products | async">
      <figure>
        <div class="wrap-img">
          <img src="./assets/{{product.id}}.jpg" class="product_image"/>
        </div>
        <figcaption>
            <span class="text--bold clear js-product-name">
              {{product.name}}
            </span>
          <small class="product_price clear js-product-price">
            {{product.price | currency:'PLN'}}
          </small>
          <button type="button"
                  class="button success text--bold js-btn-add"
                  (click)="addProductToCart(product)">Dodaj do koszyka
          </button>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>
