@import "../../../sass/variables-site/colors";
@import "../../../sass/mixins/mixins-master";

$height_figure: 360px;
$height_figure_lg: 320px;
$height_figure_sm: 260px;

h3 {
  display: inline-block;

  > span {
    position: relative;
    top: 4px;
    margin-right: 0.5rem;
  }
}

select {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 1rem;
  background-color: $color__white;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  > li {
    display: inline-block;
    width: calc(25% - 15px);
    min-width: 220px;
    padding: 1rem;
    position: relative;
    border: 1px solid $color__border-product;
    margin: 10px;

    @include media-breakpoint-down(md) {
      width: calc(33% - 14px);

      &:nth-child(3n + 1) {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      width: calc(50% - 8px);
      margin: 15px 0 !important;

      &:nth-child(odd) {
        margin-right: 15px !important;
      }
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      margin: 15px 0 !important;
    }

    &:hover {
      box-shadow: 0 0 5px $color__border-product_hover;
    }

    @include media-breakpoint-up(md) {
      &:nth-child(4n + 1) {
        margin-left: 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  figure {
    height: $height_figure;
    width: 100%;
    margin: 0;

    @include media-breakpoint-down(lg) {
      height: $height_figure_lg;
    }
    @include media-breakpoint-down(sm) {
      height: $height_figure_sm;
    }
  }

  .wrap-img {
    height: $height_figure - 100px;
    position: relative;
    margin-bottom: 0.5rem;

    @include media-breakpoint-down(lg) {
      height: $height_figure_lg - 100px;
    }

    @include media-breakpoint-down(sm) {
      height: $height_figure_sm - 100px;
    }
  }

  figcaption {
    height: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  img {
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

