body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.text--red {
  color: $color__red;
}

.text--bold {
  font-weight: bold;
}

@import "headings";

@import "copy";
