@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

@mixin clearfix-after() {
  clear: both;
}

@mixin column-width($numberColumns: 3) {
  width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin media-breakpoint-down($point) {
  @if $point == lg {
    @media (max-width: 1200px) {
      @content ;
    }
  } @else if $point == md {
    @media (max-width: 992px) {
      @content ;
    }
  } @else if $point == sm {
    @media (max-width: 768px) {
      @content ;
    }
  } @else if $point == xs {
    @media (max-width: 576px) {
      @content ;
    }
  }
}

@mixin media-breakpoint-up($point) {
  @if $point == lg {
    @media (min-width: 1200px) {
      @content ;
    }
  } @else if $point == md {
    @media (min-width: 992px) {
      @content ;
    }
  } @else if $point == sm {
    @media (min-width: 768px) {
      @content ;
    }
  } @else if $point == xs {
    @media (min-width: 576px) {
      @content ;
    }
  }
}
